.top_content{
	margin-top:100px;
}
	.top_content h1{
		font-family: Roboto;
		font-weight: 100;
		position: relative;
		margin-bottom: 100px;
		text-transform: uppercase;
		font-size: 35px;
	}
		.top_content h1::before{
			content:'';
			position: absolute;
			background-color: #F4CE77;
			height: 1px;
			width: 70px;
			bottom: -20px;
			left: 0;
		}
		.top_content .need_help_item{
			padding-left: 0px;
			transition: all 0s;
			width: 100%;
			margin-bottom: 50px;
		}
			.top_content .need_help_item:hover{
				border:1px white solid;
			}
		.top_content .need_help_item h4{
			font-size: 30px;
		}
		.top_content .need_help_item .donations{
			margin-top: 40px;
		}
		.top_content .need_help_item .hr{
			margin-top:0px;
			margin-bottom: 25px;
		}
		.top_content .need_help_item .help_to{
			margin-top:35px;
			text-transform: uppercase;
			width: 100%;
		}
